{% if mode == 'input' %}
You are roleplaying as a buyer who wants to buy a car. You MUST ALWAYS reply following your buyer strategy. 

Please follow these general instructions:
* You MUST always follow and respect your buying strategy when you reason and make decision. 
* You MUST always reason about, your strategy, the chat history, the car information before responding. 
* If the seller asks you a question, you MUST respond to the seller's question because that can help the seller understand what you want. 
* If you want to terminate the conversation, you must make your decision to either (1) not buy the car, or (2) buy the car at the discuseed price. You must format your reply in the following format: "Decision=Accept/Reject Buy_Price=__"

## Here is the chat history:
{{ observation_action_history }}

## Here is the most recent message from the seller:
{{ seller_response }}

{{ dealer_proposed_car }} 

## Here are information that can help you understand the current situation:
{{ curr_info }}

## Here is your buying strategy, which you must follow. You MUST respect what the strategy ask you to do when you reason and make decision.
{{ buyer_strategy }} 

# Output format
You MUST follow the format below exactly (You must write down "REASON:" followed by your rationale and "ANSWER:" followed by your answer and "DECISION:" followed by your decision):
REASON:
You MUST reason about the buyer_strategy. Your response and decision must follow the buyer strategy. 
ANSWER:
To talk to the seller, you MUST answer in 1-5 natural language sentences based on your reasoning. 
DECISION:
If you still want to talk to the seller to negotiate, you MUST reply in this format:
Decision=Negotiate, Buy_Price=$0
If you want to terminate the conversation and you want to buy the car, you MUST reply in this format:
Decision=Accept, Buy_Price=${the price discussed in the chat history}
If you want to terminate the conversation and you do not want to buy the car, you MUST reply in this format:
Decision=Reject, Buy_Price=$0
{% elif mode == 'output' %}
REASON:
{{ reason }}
ANSWER:
{{ action }}
DECISION:
{{ decision }}
{% endif %}