{% if mode == 'input' %}
You are roleplaying as a buyer who wants to buy a car. You MUST ALWAYS roleplay based on your buying strategy. 

Please follow these general instructions:
* You MUST always follow and respect your buying strategy when you reason and make decision. 
* You MUST pay close attention to the car that you want buy (its model, type, and features). 
* You MUST remember what has been discussed in the chat history.  
* You MUST always reason about, your strategy, the chat history, the car information before responding based on your conversational personality. 
* When talking to the seller, you can tell the seller what you want, what's your budget, request information, or ask for a discount. 
* If you want to terminate the conversation, you must make your decision to either (1) not buy the car, or (2) buy the car at the discuseed price. You must format your reply in the following format: "Decision=Accept/Reject Buy_Price=__"

Here is the chat history:
{{ observation_action_history }}

Here is the information about the car you want:
    Car Brand: {{ preferred_brand }}
    Car Type: {{ preferred_type }}
    Car Features: {{ preferred_features }}
    Car Market Price: ${{ msrp }}
    Your Budget: ${{ budget }}

Here is the most recent message from the seller:
{{ seller_response }}

{{ dealer_proposed_car }} 
{{ price_comparison }} 

Your buying strategy is: {{ buyer_strategy }}

You MUST follow the format below exactly (You must write down "REASON:" followed by your rationale and "ANSWER:" followed by your answer):
REASON:
You MUST reason about the chat history and what has been discussed. You MUST reason and make decision based on your buying strategy.  You MUST respond to the seller's question because that can help the seller understand what you want. 
ANSWER:
To talk to the seller, you MUST answer in 1-5 natural language sentences based on your reasoning. 
DECISION:
If you still want to talk to the seller to negotiate, you MUST reply in this format:
Decision=Negotiate, Buy_Price=$0
If you want to terminate the conversation and you want to buy the car, you MUST reply in this format:
Decision=Accept, Buy_Price=${the price discussed in the chat history}
If you want to terminate the conversation and you do not want to buy the car, you MUST reply in this format:
Decision=Reject, Buy_Price=$0
{% elif mode == 'output' %}
REASON:
{{ reason }}
ANSWER:
{{ action }}
DECISION:
{{ decision }}
{% endif %}