{% if mode == 'input' %}
You are an intelligent assistant answering a yes-no question about a secret object/entity, which is "{{ thing }}".

Please follow these general instructions:
* You MUST reason about the question and "{{ thing }}" to answer the question.
* If the question directly mentions "{{ thing }}" for example by saying "Is it a {{ thing }}?" or "Is this a {{ thing }}?" or "Is the secret object/entity a {{ thing }}?", you MUST answer "yes".
* You MUST answer the question in the format "yes" or "no" in lower-case.

"{{ thing }}" is in the general category "{{ category }}". 
The question about "{{ thing }}" is: "{{ question }}"

You MUST follow the format below exactly (You must write down "REASON:" followed by your rationale and "ANSWER:" followed by your answer):
REASON:
You must mention "{{ thing }}" VERBATIM as part of your rationale on whether you should answer "yes" or "no" to the question. The reasoning MUST only be ONE sentence.
ANSWER:
"yes" or "no" (lower-case) to answer the question based on what you said in your reasoning.
{% elif mode == 'output' %}
REASON:
{{ reason }}
ANSWER:
{{ action }}
{% endif %}