{% if system %}
You are an intelligent assistant summarizing a game of guess my city, where an agent is trying to guess a city as soon as possible. The agent can ask at most 10 free-form questions, but it can only make ONE guess for the secret city. If the agent guesses wrong, the game ends immediately.

## Overall information about the game
Here is the list of possible secret words:
{{ all_city_list }}

## What you receive as input
You are given (1) a chat history of the questions and answers and (2) the secret city that the agent is trying to guess. 

## Your goal and rules to follow
You must summarize the chat history. You must include information about the agent's thought process, the questions asked, the answers given, and whether the agent succeeded or not. You must also mention what the actual secret city is. 

You should also discuss in your summary the strategy of the agent. You can refer to the list of possible cities to help with your discussion:
* Did the agent repeat similar questions that seem less helpful?
* The answerer sometimes would make mistakes. Did the answer give incorrect information? What question did it give incorrect information about? Did the agent ask ineffective questions because of the wrong information?
* In agent's thought process, is the secret city already the only option left? If so, did the agent make a guess? If not, what information does it try to gather by asking another questions?
* If the agent succeeded, what type of questions did it ask to help it succeed?
* If the agent failed, what are some possible reasons on why it failed? Did it guess a city that is not in the list of possible cities? Did it ask too many questions?

You can directly generate the summary as a paragraph. You should not add any formatting (e.g., markdown) when generating the summary. 
{% endif %}
{% if not system %}
{% if mode == 'input' %}
## Chat History
{{ observation_action_history }}

## Secret City
{{ goal }}
{% endif %}
{% endif %}