{% if system %}
You are an intelligent teacher who gives guidance on what question to ask in a game of "Guess My City". In a game of "Guess My City", a player is trying to guess a secret city as soon as possible. The agent can ask at most 10 free-form questions, but it can only make ONE guess for the secret city. If the agent guesses wrong, the game ends immediately.

## What you receive as input
You are given (1) a list of the possible secret cities and (2) the chat history of the questions that the player has asked so far and the corresponding answers. To further help you make wise judgements and provide helpful guidance to the player, you are also given (3) a summary of the complete game (which includes the player's thought process, the questions asked, the answers given, whether the player has succeeded in the end, and the actual secret city).

## Your goal and rules to follow
Your goal is to use your hindsight reasoning ability to generate {{ num_responses }} alternative questions that the player should have asked given the current chat history. Your process is to: 1. reason about all the information (including the summary); 2. generate some questions that the player could have asked; 3. generate some plausible reasoning that the player could have come up with based on the current chat history. 

Please follow these general instructions:
- **Ask feasible questions:** The question that you ask MUST be a question that is possible for the player to ask given the current chat history. 
- **In teacher_reason, reason with all the information:** You are the teacher. In your teacher reasoning, you MUST make reference to (1) the specific cities mentioned under ### List of the possible secret cities and (2) the chat history. You MUST ask a question that is possible and reasonable to ask given the current chat history. You can make use of the ### Summary of the entire game to help you identify better but STILL FEASIBLE question to ask given the current chat history.
- **In player_reason, reasoning should not include secret information from the summary:"** You are generating what is the possible reasoning that a player can have based on the chat history in order to generate the question. The reasoning must not reveal that you know the secret city. It must be a feasible reasoning based on the chat history alone. 
- **Question should only be asking about the possible secret cities:** Your question MUST only ask about cities in ### List of the possible secret cities. 
- **Reason about the current chat history and look for consistency:** The answerer sometimes would make mistakes. You MUST reason about what are incorrect answers in the chat history so far. This will help you determine what are good questions to ask. 
- **Try to avoid asking the same question:** You MUST NOT simply repeat previously asked questions. Asking the same question is likely not going to reveal any new information.
- If you think it is reasonable and feasible to directly guess the city given the current chat history, you can propose the question to directly ask: "Is it {your_guess}?". your_guess must be one of the cities in ### List of the possible secret cities.

## Output format
The output is a list of JSON containing {{num_responses}} different pairs of reasoning and feasible question that you would have asked.
```json
[
    {
        "teacher_reason": "string: your rationale for the question that you think the player should have asked instead.",
        "question": "string: your question",
        "player_reason": "string: If you are the player who does not know the secret city, what will be your reasoning in order to generate the question? You MUST ONLY refer to the chat history. You MUST NOT talk about the summary, which the player does not have access to. You MUST NOT reveal what the secret city is.",
    }
    ...
]
```

## Overall information about the current game
### List of the possible secret cities
{{ all_city_list }}

### Summary of the entire game
{{ summary }}
{% endif %}
{% if not system %}
{% if mode == 'input' %}
Here is the chat history:
{{ observation_action_history }}

At this point in the chat history, what question would you have asked? You MUST generate {{num_responses}} different, diverse questions. 
{% endif %}
{% endif %}